flows_cargill.json
[{"id":"186ff1c3.61f93e","type":"tab","label":"Valves","disabled":false,"info":""},{"id":"dc6f64ec.fa6fe8","type":"tab","label":"Tank Levels","disabled":false,"info":""},{"id":"8339d0e8.56907","type":"tab","label":"Mixers","disabled":false,"info":""},{"id":"55c36e6a.3b67f","type":"tab","label":"Dosing Pump","disabled":false,"info":""},{"id":"a55180e6.782ed","type":"tab","label":"Misc","disabled":false,"info":""},{"id":"fd190432.09bbb8","type":"pi_plate","z":"","model":"DAQCplate","address":"0"},{"id":"c73e6e06.7c2f4","type":"pi_plate","z":"","model":"RELAYplate","address":"1"},{"id":"dd37e26c.97a3","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\r","bin":"false","out":"char","addchar":false},{"id":"4b0ddef9.10b68","type":"serial-port","z":"","serialport":"/dev/ttyUSB1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\r","bin":"false","out":"char","addchar":false},{"id":"7e13d0f6.c71fe","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"5d21a84d.ebc8c8","type":"mqtt-broker","z":"","name":"AIO","broker":"io.adafruit.com","port":"8883","tls":"7e13d0f6.c71fe","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9a777bc8.d321a8","type":"pi_plate","z":"","model":"DAQCplate","address":"2"},{"id":"86c7ecc3.9f641","type":"ppDOUT","z":"186ff1c3.61f93e","config_plate":"fd190432.09bbb8","name":"FTV-_ K7","output":"5","x":560,"y":120,"wires":[[]]},{"id":"f674d3d3.00175","type":"ppDOUT","z":"186ff1c3.61f93e","config_plate":"fd190432.09bbb8","name":"FTV+_K8","output":"6","x":560,"y":60,"wires":[[]]},{"id":"7280933b.2df46c","type":"debug","z":"186ff1c3.61f93e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":1600,"wires":[]},{"id":"d7db00e1.935f","type":"function","z":"186ff1c3.61f93e","name":"close_NO_valve","func":"return( [{payload: \"on\"}, {payload: \"on\"}]);","outputs":2,"noerr":0,"x":300,"y":60,"wires":[["f674d3d3.00175"],["86c7ecc3.9f641"]]},{"id":"77c48c51.649e34","type":"function","z":"186ff1c3.61f93e","name":"open_NO_valve","func":"return( [{payload: \"off\"}, {payload: \"off\"}]);","outputs":2,"noerr":0,"x":300,"y":120,"wires":[["f674d3d3.00175"],["86c7ecc3.9f641"]]},{"id":"6d049551.1b21fc","type":"inject","z":"186ff1c3.61f93e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":120,"wires":[["77c48c51.649e34"]]},{"id":"d67ab936.6fa948","type":"inject","z":"186ff1c3.61f93e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["d7db00e1.935f"]]},{"id":"bf87e0c5.bd975","type":"rpi-gpio in","z":"8339d0e8.56907","name":"F_MIXER_RUNNING","pin":"33","intype":"down","debounce":"25","read":true,"x":120,"y":40,"wires":[["48f97f24.be4b"]]},{"id":"6b39c77c.659c78","type":"rpi-gpio in","z":"8339d0e8.56907","name":"R_MIXER_RUNNING","pin":"29","intype":"down","debounce":"25","read":true,"x":120,"y":100,"wires":[["65a13ec6.d3b43"]]},{"id":"5863c726.b159b8","type":"ppADC","z":"55c36e6a.3b67f","config_plate":"fd190432.09bbb8","name":"PUMP_SPEED","channel":"7","x":300,"y":200,"wires":[[]]},{"id":"198b3c3e.61ac34","type":"1-Wire","z":"a55180e6.782ed","identifier":"28-041703edaaff","name":"onboard temp","format":"1","x":280,"y":120,"wires":[["40757349.463edc"]]},{"id":"b7d11e79.1f0d8","type":"1-Wire","z":"a55180e6.782ed","identifier":"28-0417c377b9ff","name":"probe temp","format":"1","x":270,"y":180,"wires":[["42980934.be5248"]]},{"id":"40757349.463edc","type":"function","z":"a55180e6.782ed","name":"C_to_F","func":"msg.payload = msg.payload *  1.8 + 32;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["5f8a3c27.e965d4"]]},{"id":"2a6b93ee.fbfdec","type":"inject","z":"a55180e6.782ed","name":"every 5 min","topic":"","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":true,"onceDelay":"3","x":110,"y":40,"wires":[["198b3c3e.61ac34","b7d11e79.1f0d8"]]},{"id":"eede81ad.85752","type":"serial in","z":"dc6f64ec.fa6fe8","name":"","serial":"dd37e26c.97a3","x":250,"y":60,"wires":[["165f4d38.a18a53"]]},{"id":"4df49397.a1bfdc","type":"serial in","z":"dc6f64ec.fa6fe8","name":"","serial":"4b0ddef9.10b68","x":250,"y":120,"wires":[["a9b1e78d.b412a8"]]},{"id":"42980934.be5248","type":"function","z":"a55180e6.782ed","name":"C_to_F","func":"msg.payload = msg.payload *  1.8 + 32;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["3521831b.c4acdc"]]},{"id":"5f8a3c27.e965d4","type":"mqtt out","z":"a55180e6.782ed","name":"inside temp","topic":"mharsch/feeds/cargill.inside-temp","qos":"","retain":"","broker":"5d21a84d.ebc8c8","x":610,"y":120,"wires":[]},{"id":"3521831b.c4acdc","type":"mqtt out","z":"a55180e6.782ed","name":"outside temp","topic":"mharsch/feeds/cargill.outside-temp","qos":"","retain":"","broker":"5d21a84d.ebc8c8","x":610,"y":180,"wires":[]},{"id":"d500b443.f99ab8","type":"function","z":"dc6f64ec.fa6fe8","name":"tank_contents","func":"if (msg.payload > 115) {\n    msg.payload = 0;\n} else {\n    var cone = 119;\n    var cylinder = 6503.9 * (115 - msg.payload);\n    var gallons = (cylinder / 231) + cone;\n    msg.payload = gallons;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["23ff8bca.462034"]]},{"id":"6fe62e8.a86eed","type":"function","z":"dc6f64ec.fa6fe8","name":"tank_contents","func":"if (msg.payload > 115) {\n    msg.payload = 0;\n} else {\n    var cone = 119;\n    var cylinder = 6503.9 * (115 - msg.payload);\n    var gallons = (cylinder / 231) + cone;\n    msg.payload = gallons;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":300,"wires":[["8cb405ef.82fd18"]]},{"id":"23ff8bca.462034","type":"mqtt out","z":"dc6f64ec.fa6fe8","name":"F Tank Level","topic":"mharsch/feeds/cargill.front-tank-level","qos":"","retain":"","broker":"5d21a84d.ebc8c8","x":710,"y":240,"wires":[]},{"id":"8cb405ef.82fd18","type":"mqtt out","z":"dc6f64ec.fa6fe8","name":"R Tank Level","topic":"mharsch/feeds/cargill.rear-tank-level","qos":"","retain":"","broker":"5d21a84d.ebc8c8","x":710,"y":300,"wires":[]},{"id":"f7b62e5.9221bd","type":"inject","z":"8339d0e8.56907","name":"NC BEGIN OFF","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":220,"y":400,"wires":[["17611c6c.040fd4","b7f14a3d.228ca8"]]},{"id":"305308fb.3f8d38","type":"trigger","z":"8339d0e8.56907","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"pulse on","x":240,"y":260,"wires":[["99ca55fc.8f13b8"]]},{"id":"9cfefce4.54ddf","type":"trigger","z":"8339d0e8.56907","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"pulse on","x":240,"y":301,"wires":[["565d357c.e05bbc"]]},{"id":"3f079b8d.2eb464","type":"inject","z":"8339d0e8.56907","name":"NO BEGIN OFF","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":220,"y":201,"wires":[["99ca55fc.8f13b8","565d357c.e05bbc"]]},{"id":"2b872001.2811d","type":"mqtt in","z":"8339d0e8.56907","name":"start front","topic":"mharsch/feeds/cargill.start-front-mixer","qos":"2","broker":"5d21a84d.ebc8c8","x":80,"y":260,"wires":[["305308fb.3f8d38"]]},{"id":"26b1a69d.90fdba","type":"mqtt in","z":"8339d0e8.56907","name":"start rear","topic":"mharsch/feeds/cargill.start-rear-mixer","qos":"2","broker":"5d21a84d.ebc8c8","x":80,"y":320,"wires":[["9cfefce4.54ddf"]]},{"id":"fd323136.03b77","type":"mqtt in","z":"8339d0e8.56907","name":"stop front","topic":"mharsch/feeds/cargill.stop-front-mixer","qos":"2","broker":"5d21a84d.ebc8c8","x":80,"y":440,"wires":[["b934a802.97e528"]]},{"id":"fe7d3f1.df60ac","type":"mqtt in","z":"8339d0e8.56907","name":"stop rear","topic":"mharsch/feeds/cargill.stop-rear-mixer","qos":"2","broker":"5d21a84d.ebc8c8","x":80,"y":500,"wires":[["84c15690.04c238"]]},{"id":"61310efe.72b27","type":"mqtt out","z":"8339d0e8.56907","name":"front status","topic":"mharsch/feeds/cargill.front-mixer-status","qos":"","retain":"","broker":"5d21a84d.ebc8c8","x":510,"y":40,"wires":[]},{"id":"5dd50db9.a1d874","type":"mqtt out","z":"8339d0e8.56907","name":"rear status","topic":"mharsch/feeds/cargill.rear-mixer-status","qos":"","retain":"","broker":"5d21a84d.ebc8c8","x":510,"y":100,"wires":[]},{"id":"48f97f24.be4b","type":"function","z":"8339d0e8.56907","name":"status label","func":"if (msg.payload === 1) {\n    msg.payload = \"RUNNING\";\n} else {\n    msg.payload = \"STOPPED\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":40,"wires":[["61310efe.72b27"]]},{"id":"65a13ec6.d3b43","type":"function","z":"8339d0e8.56907","name":"status label","func":"if (msg.payload === 1) {\n    msg.payload = \"RUNNING\";\n} else {\n    msg.payload = \"STOPPED\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":100,"wires":[["5dd50db9.a1d874"]]},{"id":"cba2e1e9.2eeeb","type":"ppDOUT","z":"186ff1c3.61f93e","config_plate":"fd190432.09bbb8","name":"RTV-_ K5","output":"3","x":560,"y":260,"wires":[[]]},{"id":"d44ea45b.985608","type":"ppDOUT","z":"186ff1c3.61f93e","config_plate":"fd190432.09bbb8","name":"RTV+_K6","output":"4","x":560,"y":200,"wires":[[]]},{"id":"a3e720c.b1553e","type":"function","z":"186ff1c3.61f93e","name":"close_NO_valve","func":"return( [{payload: \"on\"}, {payload: \"on\"}]);","outputs":2,"noerr":0,"x":300,"y":200,"wires":[["d44ea45b.985608"],["cba2e1e9.2eeeb"]]},{"id":"2afe2a2e.0cc796","type":"function","z":"186ff1c3.61f93e","name":"open_NO_valve","func":"return( [{payload: \"off\"}, {payload: \"off\"}]);","outputs":2,"noerr":0,"x":300,"y":260,"wires":[["d44ea45b.985608"],["cba2e1e9.2eeeb"]]},{"id":"232ef1f8.8aaa0e","type":"inject","z":"186ff1c3.61f93e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":260,"wires":[["2afe2a2e.0cc796"]]},{"id":"40e09a74.7d03a4","type":"inject","z":"186ff1c3.61f93e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":200,"wires":[["a3e720c.b1553e"]]},{"id":"dc444229.37be9","type":"ppDOUT","z":"186ff1c3.61f93e","config_plate":"fd190432.09bbb8","name":"WV-_ K3","output":"1","x":560,"y":400,"wires":[[]]},{"id":"5b9b25d.4c398dc","type":"ppDOUT","z":"186ff1c3.61f93e","config_plate":"fd190432.09bbb8","name":"WV+_K4","output":"2","x":560,"y":340,"wires":[[]]},{"id":"c16df533.22cfd8","type":"function","z":"186ff1c3.61f93e","name":"close_NC_valve","func":"return( [{payload: \"off\"}, {payload: \"off\"}]);","outputs":2,"noerr":0,"x":300,"y":340,"wires":[["5b9b25d.4c398dc"],["dc444229.37be9"]]},{"id":"e0b4a57.c60c558","type":"function","z":"186ff1c3.61f93e","name":"open_NC_valve","func":"return( [{payload: \"on\"}, {payload: \"on\"}]);","outputs":2,"noerr":0,"x":300,"y":400,"wires":[["5b9b25d.4c398dc"],["dc444229.37be9"]]},{"id":"95507d4e.c8d87","type":"inject","z":"186ff1c3.61f93e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["e0b4a57.c60c558"]]},{"id":"f4aea6b6.ce89f8","type":"inject","z":"186ff1c3.61f93e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":340,"wires":[["c16df533.22cfd8"]]},{"id":"ef9f3003.77aa1","type":"inject","z":"55c36e6a.3b67f","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":300,"wires":[["5863c726.b159b8"]]},{"id":"88ca8d84.5a6ea","type":"debug","z":"55c36e6a.3b67f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":220,"wires":[]},{"id":"40c3667d.39dff8","type":"mqtt out","z":"dc6f64ec.fa6fe8","name":"F Tank Distance","topic":"mharsch/feeds/cargill.front-tank-distance","qos":"","retain":"","broker":"5d21a84d.ebc8c8","x":700,"y":400,"wires":[]},{"id":"b13024d9.0b93a8","type":"mqtt out","z":"dc6f64ec.fa6fe8","name":"R Tank Distance","topic":"mharsch/feeds/cargill.rear-tank-distance","qos":"","retain":"","broker":"5d21a84d.ebc8c8","x":700,"y":460,"wires":[]},{"id":"165f4d38.a18a53","type":"delay","z":"dc6f64ec.fa6fe8","name":"one every 30s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":460,"y":60,"wires":[["415b00b7.0f936"]]},{"id":"a9b1e78d.b412a8","type":"delay","z":"dc6f64ec.fa6fe8","name":"one every 30s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":460,"y":120,"wires":[["69b37bf0.e17c84"]]},{"id":"415b00b7.0f936","type":"function","z":"dc6f64ec.fa6fe8","name":"ascii_to_number","func":"msg.payload = parseInt(msg.payload.slice(1, 5), 10);\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":60,"wires":[["27313609.5a226a"]]},{"id":"69b37bf0.e17c84","type":"function","z":"dc6f64ec.fa6fe8","name":"ascii_to_number","func":"msg.payload = parseInt(msg.payload.slice(1, 5), 10);\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":120,"wires":[["171abfb3.46013"]]},{"id":"27313609.5a226a","type":"function","z":"dc6f64ec.fa6fe8","name":"mm_to_inches","func":"msg.payload = Math.round(msg.payload / 25.4);\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":60,"wires":[["40c3667d.39dff8","d500b443.f99ab8"]]},{"id":"171abfb3.46013","type":"function","z":"dc6f64ec.fa6fe8","name":"mm_to_inches","func":"msg.payload = Math.round(msg.payload / 25.4);\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":120,"wires":[["b13024d9.0b93a8","6fe62e8.a86eed"]]},{"id":"a4abdf1b.309e7","type":"debug","z":"a55180e6.782ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":300,"wires":[]},{"id":"6901adf1.689474","type":"ppDIN","z":"186ff1c3.61f93e","config_plate":"fd190432.09bbb8","name":"F_CLOSED","input":"6","x":310,"y":502,"wires":[["d0e87ec6.0ad88"]]},{"id":"a4ac0a42.76cda8","type":"ppDIN","z":"186ff1c3.61f93e","config_plate":"fd190432.09bbb8","name":"F_OPEN","input":"7","x":300,"y":562,"wires":[["24ade933.8daa86"]]},{"id":"1b551ce4.961ab3","type":"ppDIN","z":"186ff1c3.61f93e","config_plate":"fd190432.09bbb8","name":"R_CLOSED","input":"4","x":310,"y":660,"wires":[["10920e96.c43441"]]},{"id":"fcfb9527.ca9198","type":"ppDIN","z":"186ff1c3.61f93e","config_plate":"fd190432.09bbb8","name":"R_OPEN","input":"5","x":300,"y":720,"wires":[["9233196e.433488"]]},{"id":"ffafc90f.0f9938","type":"ppDIN","z":"186ff1c3.61f93e","config_plate":"fd190432.09bbb8","name":"W_CLOSED","input":"2","x":310,"y":800,"wires":[["79d1b223.71dd7c"]]},{"id":"288e70b3.c4dee","type":"ppDIN","z":"186ff1c3.61f93e","config_plate":"fd190432.09bbb8","name":"W_OPEN","input":"3","x":300,"y":860,"wires":[["18948d93.6beb42"]]},{"id":"648c3231.174f3c","type":"inject","z":"186ff1c3.61f93e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":520,"wires":[["6901adf1.689474","a4ac0a42.76cda8","1b551ce4.961ab3","fcfb9527.ca9198","ffafc90f.0f9938","288e70b3.c4dee"]]},{"id":"d0e87ec6.0ad88","type":"rbe","z":"186ff1c3.61f93e","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":560,"wires":[[]]},{"id":"24ade933.8daa86","type":"rbe","z":"186ff1c3.61f93e","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":600,"wires":[[]]},{"id":"10920e96.c43441","type":"rbe","z":"186ff1c3.61f93e","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":640,"wires":[[]]},{"id":"9233196e.433488","type":"rbe","z":"186ff1c3.61f93e","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":680,"wires":[[]]},{"id":"79d1b223.71dd7c","type":"rbe","z":"186ff1c3.61f93e","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":720,"wires":[[]]},{"id":"18948d93.6beb42","type":"rbe","z":"186ff1c3.61f93e","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":760,"wires":[[]]},{"id":"99ca55fc.8f13b8","type":"ppDOUT","z":"8339d0e8.56907","config_plate":"9a777bc8.d321a8","name":"4_RM IN1","output":"3","x":420,"y":260,"wires":[[]]},{"id":"17611c6c.040fd4","type":"ppDOUT","z":"8339d0e8.56907","config_plate":"9a777bc8.d321a8","name":"4_RM IN2","output":"4","x":440,"y":440,"wires":[[]]},{"id":"565d357c.e05bbc","type":"ppDOUT","z":"8339d0e8.56907","config_plate":"9a777bc8.d321a8","name":"4_RM IN3","output":"5","x":420,"y":300,"wires":[[]]},{"id":"b7f14a3d.228ca8","type":"ppDOUT","z":"8339d0e8.56907","config_plate":"9a777bc8.d321a8","name":"4_RM IN4","output":"6","x":440,"y":480,"wires":[[]]},{"id":"b934a802.97e528","type":"trigger","z":"8339d0e8.56907","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"pulse on","x":240,"y":460,"wires":[["17611c6c.040fd4"]]},{"id":"84c15690.04c238","type":"trigger","z":"8339d0e8.56907","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"pulse on","x":240,"y":501,"wires":[["b7f14a3d.228ca8"]]}]